/*-------------------------------
              BASE
--------------------------------*/
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'DIN 2014',  YuGothic, "Yu Gothic Medium", "Yu Gothic", sans-serif;
    font-size: 16px;
    color: #80645B;
    background-color: #F0ECE5;
}
  
  /*-------------------------------
              LAYOUT
  --------------------------------*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #F0ECE5
}


#loading_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}


#loading img{
  max-width: 80px;
}


  header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
  }


  #wrapper {
    margin: auto;
}


h2 {
    font-size: 180%;
    text-align: left;
    padding: auto;
    letter-spacing: .05em;
}

.mainvisual-logo-svg{
  filter: drop-shadow(2px 2px 4px white);
}


.staff1{
  transform: rotate(-10deg)
}

.staff2{
  transform: rotate(10deg)
}



#page-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    text-align: center;
    background:#F0ECE5
}

  
#page-top i {
    font-size: 30px;
    color:#80645B
}
  

#page-top p {
    color: #80645B
}
 



  
  






























