/*-------------------------------
              BASE
--------------------------------*/
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'DIN 2014', sans-serif;
    font-size: 16px;
    color: #80645B;
    background-color: #F0ECE5;
}
  
  /*-------------------------------
              LAYOUT
  --------------------------------*/
  header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
  }


  #wrapper {
    margin: auto;
}


h2 {
    font-size: 180%;
    text-align: left;
    padding: auto;
    letter-spacing: .1em;
}




  
  /*--------------------------------
            Main Visual
  ---------------------------------*/

  
  
  
  
  /*--------------------------------
                ABOUT
  ---------------------------------*/





  #page-top {
    margin-right: 0.5rem;
    position: fixed;
    bottom: 100px;
    right: 0;
    text-align: center;
    background:#F0ECE5
  }
  
  #page-top i {
    font-size: 40px;
    color:#80645B
  }
  
  #page-top p {
    font-size: 13px;
    color: #80645B
  }
 
  
  






























