/*-------------------------------
             pc.css  min-width: 769px
--------------------------------*/

/*　画面サイズが769px以上の場合ここの記述が適用される　*/



.wrapper{
    width: 1400px;
    margin: 0 auto;
}
/*--------------------------------
            header
---------------------------------*/
.header {
    height: 90px;
    line-height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 30px 0;
}

.header-logo-inner {
    width: 15%;
}

.header-logo-inner a{
    display: flex;
    align-items: center;
}

.header-logo{
    width: 100%;
    height: 60px;
    object-fit: contain;

}


.navButton{
    display: none;
}

nav{
    width: 55%;
}

  nav ul {
    display: flex;
    justify-content: center;
    /*border:solid greenyellow;*/
  }


  nav ul li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  nav ul li a {
    color: #80645B;
    font-size: 22px;
    letter-spacing: .08em;
  }

/*-----  reserve -----*/

.header-reserve {
    width: 15%;
    text-align: center;
}

.header-reserve a{
    color: #80645B;
    font-size: 20px;
    letter-spacing: .1em;
}

.sp_reserve{
    display: none;
}



/*-------------------------------
              main visual
--------------------------------*/
.main-visual{
  max-width: 1500px;
    margin: auto;
} 


    .mainvisual-inner{
        position: relative;
        text-align: center;
        margin-bottom: 140px;
    }
    
    .mainvisual-img{
        width: 100%;
        height: auto;
        pointer-events: none;
    }
    
    
    
    .mainvisual-logo{
        position: absolute;
        justify-content: center;
        width: 100%;
        max-width: 120px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .sp-mainvisual-img{
        display: none;
    }
    
    
    /*--------------------------------
                About
    ---------------------------------*/
    .about{
        padding: 170px;
        max-width: 1400px;
        margin: auto;
        justify-content: space-between;

    }

    .about-inner{
        max-height: 500px;
        display: flex;

    }


    .about-img{
        pointer-events: none;
    }

    .about-text{
        padding: 0 3rem 3rem 8rem;
        font-size: 22px;
        letter-spacing: .08em;
        /*border: solid blue;*/
       

    }

    
    
    /*--------------------------------
                Menu
    ---------------------------------*/
    .menu{
        padding: 10rem 5rem;
    }

    .menu-inner{
        padding-top: 7rem;
        padding-left: 5rem;
        padding-right: 5rem;
      
    }


    .menulist-img{
        max-width: 100%;
        pointer-events: none;
    }

    .sp_menulist-img{
        display: none;
    }

   
    
    
    /*--------------------------------
                Instagram
    ---------------------------------*/
    .instagram{
        padding: 3rem;
    }
    .instagram-inner{
        padding-top: 7rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    
    /*--------------------------------
                Access
    ---------------------------------*/
    .access{
        margin: 10rem 5rem;
        display: flex;
    }

    .access-inner{
        
    }


    .map-inner{
        
    
    }
    
    iframe{
        aspect-ratio: 5/3;
        width: 160%; 
    }
    


    .address-text{
        
    }
    


    /*--------------------------------
                footer
    ---------------------------------*/
    .footer{
        text-align: center;
        background-color: #80645B;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }


    .footer-logo-inner{
        align-items: center;
    }


    
    .footer-logo{
        width: 100%;
        height: 60px;
    }

    
    .footer p{
        margin-top: 1rem;
        color: #F0ECE5;
    }