/*-------------------------------
             pc.css  min-width: 769px
--------------------------------*/

/*　画面サイズが769px以上の場合ここの記述が適用される　*/



.wrapper{
    margin: 0 auto;
}

/*--------------------------------
            header
---------------------------------*/
.header {
    height: 90px;
    line-height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 0 55px 0;
}

.header-logo-inner {
    width: 15%;
}

.header-logo-inner a{
    display: flex;
    align-items: center;
}

.header-logo{
    width: 100%;
    height: 60px;
    object-fit: contain;

}


.navButton{
    display: none;
}

nav{
    width: 55%;
}

  nav ul {
    display: flex;
    justify-content: center;
    /*border:solid greenyellow;*/
  }


  nav ul li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  nav ul li a {
    color: #80645B;
    font-size: 22px;
    letter-spacing: .08em;
  }


/*-----  reserve -----*/

.header-reserve {
    width: 15%;
    text-align: center;
}

.header-reserve a{
    color: #80645B;
    font-size: 20px;
    letter-spacing: .1em;
}

.sp_reserve{
    display: none;
}


.pc-calendar{
    display:none;
    
}

.pc-tell{
    color: #80645B;
}


.pc-calendar.open{
    display: block;
    position: absolute;
    background-color: #F0ECE5;
    z-index: 20;
    width: 30vw;
    height: 700px;
    right: 0;
    top: 160px;
    padding: 30px;
    border-radius: 30px;
    animation: fade-in .4s;
}




@keyframes fade-in {
    0% {opacity: 0;}
  100% {opacity: 1;}
}



.pc-tell{
    line-height: 36px;
}




.pc-tell span:nth-of-type(1){
    color: #80645B;
    font-weight: bold;
    font-size: 20px;
}

.pc-tell span:nth-of-type(2){
    color: #80645B;
    font-weight: bold;
    font-size: 30px;
}




.pc_dec_calendar, .pc-tell{
    margin: 20px;
}

.pc_dec_calendar{
    margin-top: 30px;
    pointer-events: none;
}


.pc-op-clo-flex{
    display: flex;
    margin: 10px;
    justify-content: space-around;
    line-height: 50px;
}

.pc-open, .pc-close{
    font-size: 18px;
}

.pc-open span:nth-of-type(1), .pc-close span:nth-of-type(1){
    font-size: 20px;
    font-weight: bold;
}

.pc-open span:nth-of-type(2){
    font-size: 20px;
}





/*-------------------------------
              main visual
--------------------------------*/
.main-visual{
  max-width: 1500px;
    margin: auto;
} 


    .mainvisual-inner{
        position: relative;
        text-align: center;
        margin-bottom: 250px;
    }
    
    .mainvisual-img{
        width: 100%;
        height: auto;
        pointer-events: none;
    }
    
    
    
    .mainvisual-logo-svg{
        position: absolute;
        justify-content: center;
        width: 100%;
        max-width: 120px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .sp-mainvisual-img{
        display: none;
    }

    #sp-slide{
        display: none;

    }

    .sp-main_img1{
        display: none;
    }

    
    
    
    /*--------------------------------
                About
    ---------------------------------*/
    .about{
        max-width: 1000px;
        margin: auto auto 250px auto;
    }

    .about-inner{
        display: flex;

    }


    .about-img{
        pointer-events: none;
    }

    .about-text{
        font-size: 22px;
        letter-spacing: .08em;

    }



    .about-inner2{
        display: flex;
       flex-direction: row-reverse;
       justify-content: center;
        
    }



    .about-img1, .about-img2{
        width: 400px;
        border-radius: 5px;
        pointer-events: none;
    }

    .about-text2{
        font-size: 22px;
        letter-spacing: .08em;
    }

    
    
 /*--------------------------------
                Menu
---------------------------------*/

    .menu1{
    background-color: #80645B;
    border-radius: 10px;
    max-width: 800px;
    margin: auto auto 300px auto;
    
}

.menu-inner1 {
    padding: 35px 0;
    
}

.menu-list1{
    padding: 0 18px;
}

.menu-list1-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.cut, .color, .straight,.perm{
    width: 135px;
    height: 180px;
    margin-bottom: 45px;
    border-radius: 80px 80px 5px 5px;
    background: #F0ECE5
     
    
    
}


.cut-inner, .color-inner, .straight-inner,.perm-inner{
    padding: 30px 10px;
    border-radius: 60px 60px 0px 0px;
    height: 100%;
}

    

.menu-inner1 h2{
    font-size: 180%;
    color: #F0ECE5;
    text-align: center;
    margin-bottom: 25px;

}

.menu-inner1 h3, .menu-inner1 p{
    text-align: center;
}

.menu-inner1 h3{
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: .07em;
}


.menu-list-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    letter-spacing: .03em;
}

.straight-inner h3{
    font-size: 20px;
}


.menu-list-flex span{
    width: 30px;
    height: 1px;
    border-radius: 2px;
    background: #80645B;

}


.menu-other-inner{
    margin: 0 36px;
}


.menu-other p{
    text-align: left;
    color:#F0ECE5
}

   
    
    
    /*--------------------------------
                Instagram
    ---------------------------------*/
    .instagram{
        max-width: 1000px;
        margin: auto auto 300px auto;


    }
    .instagram-flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

    .insta-height{
        width: calc(100% / 4);
        margin: 20px;
        

    }



    .instagram-contents iframe{
        max-width: 200px;
        height: 380px;
    }
    
    
    /*--------------------------------
                Access
    ---------------------------------*/
    .access{
        max-width: 850px;
        margin: auto auto 300px auto;
        
    }



    .access-flex{
        display: flex;
        justify-content: space-between;
    }

 
    
    .map iframe{
        width: 400px;
        height: 400px;
        
    }
    


    .address-text{
        font-size: large;
        color: #80645B;
    }

    .address-text span:nth-of-type(1) {
        font-weight: bold;
        font-size: 25px;
      }


    


    /*--------------------------------
                footer
    ---------------------------------*/
    .footer{
        text-align: center;
        background-color: #80645B;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        width: 100%;
    }


    .footer-logo-inner{
        align-items: center;
    }


    
    .footer-logo{
        width: 100%;
        height: 60px;
    }

    
    .footer p{
        margin-top: 1rem;
        color: #F0ECE5;
    }